.comments
  padding: 2em
  background: #1b2735
  .comment
    position: relative
    border-left: 1px solid #4d5b6c
    .source
      position: absolute
      right: 0
      width: 12px
    .created_at
      position: absolute
      right: 1.2em
      border-bottom: 1px solid
      top: .4em
      font-size: .75em
      opacity: .6
    .author
      padding: .5em
      font-size: .8em
      position: relative
      top: -.3em
      left: -.4em
      text-decoration: underline
      opacity: .6
    .score
      left: 0
      transform: translateX(-100%)
      background: #3a4e66
      top: 0
      position: absolute
      border-radius: 20px 0 0 20px
      border: 1px solid #728499
      padding: .5em
      font-size: .7em
      &::after
        white-space: nowrap
        writing-mode: tb
        position: absolute
        height: 30px
        bottom: -1em
        border: 1px solid #728499
        border-width: 0 1px 2px 1px
        box-sizing: border-box
        padding: .3em 0em .3em .3em
        border-radius: 0 0 100% 100%
        right: 0
        top: 1.3em
        background: #3a4e66
        font-size: 1.4em
        font-weight: 700
        transform: translateX(1px)
    &.has-children .score::after
      content: "..."
    .text
      padding: .5em
      transform: translateX(.5em)
      margin-right: .5em
      outline: 1px solid #4d5b6c

.comment
  &::before
    position: absolute
    bottom: -1px
    left: -1px
    content: ''
    width: 1em
    height: 1px
    background: #4d5b6c
  & > .comment
    display: none
    transform: translateX(1em)
    word-break: break-word
    padding-left: 1em
    margin-right: 1em
  &.show-children > .comment
    display: block
    
.comment-self
  outline: 1px solid #4d5b6c
  margin-bottom: 0.5em





