<ul class="my-image-list">
  <!-- post.spoiler ? 'spoiler' : '', post.nsfw ? 'nsfw' : '', post.thumbnail === 'default' ? 'default' : '',  -->
  <li 
    *ngFor="let post of posts; index as post_id"
    [ngClass]="[
      post.spoiler ? 'spoiler' : '',
      post.nsfw ? 'nsfw' : '',
      post.thumbnail === 'default' ? 'default' : '',
      post.is]"
    (click)="onLiClick(li, $event)" #li>
    <div class="controls">
      <div class="left-ctrl">
        <div class="score ctrl-btn">{{ post.score | shortNumber }}</div>
        <button class="enlarge-btn ctrl-btn" (click)="li.classList.toggle('enlarge')">
          <span class="minus">
            <svg-icon src="/assets/images/minus.svg" [svgStyle]="{ 'width.px':32 }"></svg-icon>
          </span>
          <span class="plus">
            <svg-icon src="/assets/images/plus.svg" [svgStyle]="{ 'width.px':32 }"></svg-icon>
          </span>
        </button>
        <a class="open-link ctrl-btn" [href]="post.thread_url.thread" target="_blank">
          <svg-icon src="/assets/images/reddit.svg" [svgStyle]="{ 'width.px':32 }"></svg-icon>
        </a>
      </div>
      <div class="right-ctrl">
        <div class="exit ctrl-btn">
          <svg-icon src="/assets/images/cross.svg" [svgStyle]="{ 'width.px':32 }"></svg-icon>
        </div>
      </div>
    </div>

    <div *ngIf="post.is === 'image' else elseif1" class="content-wrapper">
      <ng-container *ngIf="post.thumbnail === 'default' else ifelse">
        <article></article>
        <p class="discussion-text">
          <span>
            {{ post.title }}
          </span>
          --
          <a [href]="post.src" target="_blank">
            Open Article in new Tab
          </a>
        </p>
        <img src="/assets/images/default.png">

      </ng-container>
      <ng-template #ifelse>
        <img [src]="post.thumbnail" alt="" [attr.data-src]="post.src">
      </ng-template>
    </div>
    <ng-template #elseif1>
      <div *ngIf="post.is === 'video' else elseif2" class="content-wrapper">
        <div class="mute"><span class="icon">🔇</span></div>
        <div class="volume">
          <input type="range" min="0" max="1" value="0.5" step="0.01" (change)="changeVolume(vol.value, li)" #vol>
        </div>
        <video [poster]="post.thumbnail" class="" (play)="onPlay(vid)" (pause)="onPause(vid)" #vid>
          <source [src]="post.src.vid" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <audio hidden>
          <source [src]="post.src.aud" type="audio/mp3" (error)="onNoAudio(li, $event)">
          <p>Your browser doesn't support HTML5 audio. Here is a <a href="viper.mp3">link to the audio</a> instead.</p>
        </audio>
      </div>
    </ng-template>
    <ng-template #elseif2>
      <div *ngIf="post.is === 'gallery' else elseif3" class="content-wrapper" #gallery>
        <button class="left" (click)="onLeft(gallery)"><-</button>
        <img *ngFor="let img of post.src; index as i" [src]="post.thumbnail[i]" [attr.data-src]="img">
        <button class="right" (click)="onRight(gallery)">-></button>
      </div>
    </ng-template>
    <ng-template #elseif3>
      <div *ngIf="post.is === 'youtube' else elseif4" class="content-wrapper">
        <img [src]="post.thumbnail" alt="">
        <div [id]="'yt-player-'+post_id"></div>
        <iframe frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen [attr.data-src]="post.src"></iframe>
      </div>
    </ng-template>
    <ng-template #elseif4>
      <div *ngIf="post.is === 'gifv'; else elseif5" class="content-wrapper no-audio">
        <div class="mute"><span class="icon">🔇</span></div>
        <video [poster]="post.thumbnail" class="" loop controls #gifv>
          <source [src]="post.src" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </ng-template>
    <ng-template #elseif5>
      <div *ngIf="post.is === 'discussion'" class="content-wrapper">
        <p class="discussion-text">{{ post.src }}</p>
      </div>
    </ng-template>

    <div class="text max-limit rel" (click)="li.classList.contains('fullscreen') ? text.classList.toggle('max-limit') : ''" #text>
      <div class="limit-symbol" ><span *ngIf="text.classList.contains('max-limit'); else down">🔺</span></div>
      <ng-template #down><span>🔻</span></ng-template>
      <span class="label">{{ post.title }}</span>
    </div>
  </li>
</ul>
