<div class="controls" (click)="onClick($event)" #el>
  <svg-icon svgClass="ctrl search" [applyClass]="true" src="/assets/images/search.svg" [svgStyle]="{ 'width.px':32, 'height.px':32, 'fill':'white' }"></svg-icon>
  <svg-icon svgClass="ctrl enlarge" [applyClass]="true" src="/assets/images/enlarge.svg" [svgStyle]="{ 'width.px':32, 'height.px':32, 'fill':'white' }"></svg-icon>
  <svg-icon svgClass="ctrl comment" [applyClass]="true" src="/assets/images/comment.svg" [svgStyle]="{ 'width.px':32, 'height.px':32, 'fill':'white' }"></svg-icon>
</div>
