<div class="greetings-overlay" *ngIf="!doRemember && page<4">
  <div class="greetings-body">

    <div *ngIf="page === 0">
      <svg-icon src="/assets/images/blogging.svg" [svgStyle]="{ 'width.px':250 }"></svg-icon>
      <span>
        Hallo! 🤗 <br>
        ich bin der Entwickler dieser Webseite und möchte dir kurz meine Webseite vorstellen.
      </span>
    </div>

    <div *ngIf="page === 1">
      <svg-icon src="/assets/images/blogging.svg" [svgStyle]="{ 'width.px':90 }"></svg-icon>
      <span>
        Die Webseite hat das Ziel die Erfahrung auf Reddit zu verbessern.
        Reddit ist eine Gemeinschaft zum Austausch von Ideen, Bildern, Videos, Diskussionen und Memes.
        Die Themen der Beiträge auf Reddit sind abhängig von der jeweiligen Kategorie.
        Diese Kategorien nennt man Subreddits.
      </span>
    </div>

    <div *ngIf="page === 2">
      <svg-icon src="/assets/images/blogging.svg" [svgStyle]="{ 'width.px':90 }"></svg-icon>
      <span>
        Insgesamt gibt es 138.000 Kategorien (oder Subreddits) auf Reddit.
        Das ist eine gewaltige Menge, und keiner kann alles sehen, und genau da kommt meine Webseite ins Spiel.
        Lass dich inspirieren von den Vorschlägen auf der Startseite, erkunde einfach drauf los oder benutze
        die nach Relevanz sortierte Suche, um die Kategorie und Beiträge zu finden, die dich interessieren.
      </span>
    </div>

    <div *ngIf="page === 3">
      <svg-icon src="/assets/images/blogging.svg" [svgStyle]="{ 'width.px':90 }"></svg-icon>
      <span>
        Bei Fragen und Anregungen klicke oben rechts auf den Button.<br><br>

        Und jetzt wünsche ich viel Vergnügen 🤩
      </span>
      <input class="remember" type="checkbox" #remember>
    </div>

    <button class="next" (click)="onNext()"></button>
  </div>
</div>
