<div class="select">
  <div [formGroup]="subredditChooser">
    <label for="subreddit">Zeige Posts von /r/</label>
    <input id="subreddit" placeholder="cats" formControlName="subreddit" [class]="subExists ? 'valid' : 'invalid'" #subreddit>
    &nbsp;<button class="search btn" [disabled]="!subExists" (click)="fetchSub(subreddit.value, true)" disabled>suchen</button>
  </div>
  <div>
    <button class="btn" (click)="getNextSubreddit()">go to: {{ nextSub }}</button>
    <button class="btn" (click)="optionsOverlay.classList.toggle('fullscreen')" disabled>Optionen</button>
  </div>
</div>
<div class="optionsOverlay toggle" (click)="hideOverlay($event)" #optionsOverlay>
  <div class="exit" (click)="optionsOverlay.classList.toggle('fullscreen')">x</div>
  <div class="wrapper">
    <form [formGroup]="postOptions" novalidate>
      <label for="a">Anzahl Posts</label>
      <input type="range" name="" id="a" value="25" min="1" max="100" formControlName="num_posts">
      <label for="sort">Sortieren nach:</label>
      <select name="sort" id="sort" formControlName="sort">
        <option value="top">Top</option>
        <option value="hot">Hot</option>
        <option value="new">New</option>
        <option value="rising">Rising</option>
      </select>
      <label for="time">Nur Posts der/des letzten</label>
      <select name="time" id="time" formControlName="time">
        <option value="hour">Stunde</option>
        <option value="day">Tages</option>
        <option value="week">Woche</option>
        <option value="month">Monat</option>
        <option value="all">Alle</option>
      </select>
      <label for="query">Posts nach query filtern:</label>
      <input type="text" name="query" id="query" formControlName="query">
    </form>
  </div>
</div>
<app-gallery [posts]="posts"></app-gallery>
