.sticky-top
  position: fixed
  width: 100%
  z-index: 2
  top: 0
  left: 0
.select
  display: flex
  justify-content: space-between
  gap: 2em
  background-color: #1a2634
  padding: 0.5em 0.5em 0.5em 4em
  > div:nth-child(1)
    flex: 1
  #subredditChooser
    outline: none
  .saved-subreddits
    width: 100px
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
.optionsOverlay
  display: flex
  flex-direction: column
  align-items: center
  position: fixed
  background: #121822e6
  z-index: 6
  top: 0
  left: 0
  width: 100%
  height: 100%
  transition: 1s background
  overflow: auto
  &:not(.fullscreen)
    transform: translateY(-100%)
    transition: 1s transform
    background: #ffffff00
    .wrapper
      transform: translateY(-100%)
  .wrapper
    display: flex
    flex-wrap: wrap
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 1em
    background: #283345
    width: fit-content
    height: fit-content
    padding: 2em
    transition: 1s transform
    select, option
      color: black

  .exit
    content: 'x'
    cursor: pointer
    width: 0
    height: 0
    padding: 15px
    background: black
    position: absolute
    top: 2%
    right: 2%
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    z-index: 5

.btn.search:disabled:hover::before
  content: 'gib etwas in die Suche ein'
  left: 0
  z-index: 9

.wrap-input
  display: flex
  flex-direction: column
  position: relative
  .reset
    position: absolute
    right: 0
    border: 1px solid
    font-size: 0.8em
    opacity: 1
  input
    width: -webkit-fill-available
    outline: none
    &.valid
      border: 1px solid #6896ea
      background: #144aab
    &.invalid
      border: 1px solid #e91e1e
      background: #ff4e4e6b
.suggestions
  padding: 0
  list-style: none
  display: flex
  flex-direction: column
  li
    cursor: pointer
    background: #3444617a
    padding: 0.2em 3em 0.2em 0.2em
    border: solid
    border-width: 1px 0
    position: relative
    display: flex
    align-items: center
    gap: 0.6em
    .subscriber-count
      position: absolute
      right: .2em


.spinner 
  position: fixed
  width: 100vw
  height: 100vh
  background: #3f51b5c4
  z-index: 9999
  top: 0
  display: flex
  left: 0
  justify-content: center
  align-items: center
  font-size: 5em
