<div class="spinner" *ngIf="loading">
  ... loading
</div>

<app-greetings></app-greetings>
<header class="wrapper sticky-top">
  <app-popular-subreddits (choose)="fetchSub($event, 'fill')"></app-popular-subreddits>
  <ng-container [ngTemplateOutlet]="searchAndOptions"></ng-container>
</header>

<app-recommendations *ngIf="!posts.length && !err" (recEv)="recClicked($event)"></app-recommendations>

<div class="optionsOverlay toggle" (click)="hideOverlay($event)" #optionsOverlay>
  <div class="exit" (click)="onLeavingOptions(optionsOverlay)">x</div>
  <div>
    <form [formGroup]="postOptions" class="wrapper" novalidate>
      <label for="perPage">Anzahl Beiträge pro Seite:</label>
      <select name="perPage" id="perPage" formControlName="perPage">
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="75">75</option>
        <option value="100">100</option>
      </select>
      <label for="sort">Sortieren nach:</label>
      <select name="sort" id="sort" formControlName="sort">
        <option value="top">Top</option>
        <option value="hot">Hot</option>
        <option value="new">New</option>
        <option value="rising">Rising</option>
      </select>
      <label for="time">Nur Beiträge der/des letzten</label>
      <select name="time" id="time" formControlName="time">
        <option value="hour">Stunde</option>
        <option value="day">Tages</option>
        <option value="week">Woche</option>
        <option value="month">Monat</option>
        <option value="all">Alle</option>
      </select>
      <label for="query">Beiträge nach folgendem Begriff filtern:</label>
      <input type="text" name="query" id="query" formControlName="query">
    </form>
    <form [formGroup]="userPrefs" class="wrapper" novalidate>
      <label for="over18">ü18 Subreddits in Suchergebnissen anzeigen?:</label>
      <input type="checkbox" name="over18" id="over18" formControlName="over18">
      <label for="warn18">Vorschau von ü18 Beiträgen verstecken?:</label>
      <input type="checkbox" name="warn18" id="warn18" formControlName="warn18">
      <label for="warnSpoiler">Vorschau von Beiträgen mit Spoilern verstecken?:</label>
      <input type="checkbox" name="warnSpoiler" id="warnSpoiler" formControlName="warnSpoiler">
    </form>
    <div *ngIf="userPrefs.dirty || postOptions.dirty">
      <h3>Änderungen wurden gespeichert ✔</h3>
      <button class="btn" (click)="hideOverlay($event,true)">jetzt auf neue Ergebnisse prüfen?</button>
    </div>
    <button class="advanced btn" (click)="advancedOptions.classList.toggle('none')">Fortgeschrittene Optionen:</button>
  </div>
  <div class="deleteCache none" #advancedOptions>
    <p class="warning">
      Einmal täglich wird automatisch der Cache geleert, aber wenn du willst kannst du den Cache hier auch manuell löschen:
    </p>
    <button class="all btn danger" (click)="deleteCache()" [disabled]="cacheCleared">kompletten Cache löschen</button>
  </div>
</div>

<app-gallery [posts]="posts" (loadMorePls)="loadMore()" (hideSuggestions)="suggestions=[]"></app-gallery>

<div *ngIf="err" class="error">
  <span>Es tut uns Leid, dieser Subreddit konnte nicht angezeigt werden.</span><br><br>
  <u>Grund:</u>
  <ng-container [ngSwitch]="err.error.reason">
    <span *ngSwitchCase="'private'"><br>
      Der Subreddit ist privat und kann deshalb nur eingeloggten Reddit-Nutzern angezeigt werden, die Mitglied dieses Subreddits sind.
      Wenn du Mitglied bist, dann kannst du es auf Reddit versuchen:
      <div style="text-align: center;">
        <a [href]="'http://www.reddit.com/r/'+ currentSub" target="_blank">{{ 'http://www.reddit.com/r/'+ currentSub }}</a>
      </div>
    </span>
    <span *ngSwitchCase="'banned'"><br>
      Der Subreddit wurde gebannt und kann deshalb nicht angezeigt werden.
    </span>
    <span *ngSwitchCase="'Not Found'"><br>
      Für diesen Suchbegriff konnten keine Ergebnisse gefunden werden, versuch es nochmal.
    </span>
    <span *ngSwitchDefault>{{ err.message }}</span>
  </ng-container>
</div>

<ng-template #searchAndOptions>
  <div class="select">
    <div [class.noValue]="subredditChooser.value.length">
      <label>
        <span class="hideIfValue">Benutze die Suche um nach einem Subreddit zu suchen!</span>
        <span class="hideIfNoValue">Zeige die {{ store.userOptions.limit }} besten Beiträge von /r/</span>
      </label>
      <div class="wrap-input">
        <button class="reset hideIfNoValue" (click)="subredditChooser.setValue('')">x</button>
        <span *ngIf="!subExists && !suggestions.length">Subreddit existiert nicht</span>
        <input [formControl]="subredditChooser" [placeholder]="currentSub || 'Suchbeispiel: ich_iel...'" [class]="subExists ? 'valid' : 'invalid'">
        <ul *ngIf="suggestions" class="suggestions">
          <li *ngFor="let sug of suggestions.slice(page, page+10)"
            [class.private]="sug.private" (click)="sug.private ? onPrivateClick() : fetchSub(sug.name, 'fill')">
            <span class="subscriber-count">{{sug.subscribers | shortNumber}}</span>
            <span *ngIf="sug.over18">🔞</span>
            {{sug.name}}</li>
        </ul>
      </div>
    </div>
    <div>
      <button class="btn" (click)="optionsOverlay.classList.toggle('fullscreen')">Optionen</button>
    </div>
  </div>
</ng-template>
